@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    ::selection {
        background: rgba(0, 218, 243, 0.3);
        color: #dfe2eb;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #10141a;
    }

    ::-webkit-scrollbar-thumb {
        background: #31353c;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #424655;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #181c22 inset !important;
        -webkit-text-fill-color: #dfe2eb !important;
    }

    a {
        transition: color 0.2s ease-in-out;
    }
}
