/*
    Vanguard Obsidian Design System
    Tailwind handles most utility classes, this file is for base styles and Tailwind overrides.
*/

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Base Customizations */
::selection {
    background: rgba(0, 218, 243, 0.3);
    color: #dfe2eb;
}

/* Material Symbols Adjustments */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #10141a;
}

::-webkit-scrollbar-thumb {
    background: #31353c;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #424655;
}

/* Input Auto-fill Overrides for Webkit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #181c22 inset !important;
    -webkit-text-fill-color: #dfe2eb !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* Simple transition for all links */
a {
    transition: color 0.2s ease-in-out;
}
